:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	position: relative;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	padding: 30px;
	gap: 20px;
}

.card {
	padding: 20px;
	text-align: center;
	background-color: aqua;
	border-radius: 8px;
	border: 1px solid darkcyan;
}

.new-book-container {
	background-color: grey;
	position: fixed;
	z-index: 1;
	top: 40%;
	left: calc(50% - (300px/2));
	width: 300px;
	text-align: center;
	display: none;
	flex-direction: column;
	align-items: center;
}

.active {
	display: flex;
}

.new-book-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
